<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Checkout</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <H1>Thank you for shopping with us!</H1> <br>
	Items Purchased: <br>
	{% for item in cart1 %}
	<div class = item>
	  {{item['name']}} - ${{item['price']}}<br>
	  <br>
	  </div>
      	{% endfor %}
	Subtotal: {{total}}<br>
	Sales Tax: {{salesTax}}<br>
	Grand Total: {{grandTotal}}<br>

	<h4>
        <a href ="{{url_for('clearCart')}}">Go Back</a> <br>
	</h4>
    </body>
</html>
