<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Sports Equipment Store</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <H1>Welcome!</H1> <br>
	<H2>Your current role is: {{displayRole}}</H2><br>
	<h4>
        <a href ="{{url_for('changeRole')}}">Change role</a> <br>
        <a href ="{{url_for('updateInventory')}}">Update inventory</a> <br>
        <a href ="{{url_for('shopping')}}">Shop</a> <br>
	</h4>
    </body>
</html>
