<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/html.html to edit this template
-->
<html>
    <head>
        <title>Remove an item</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <H1>Remove Item</H1>
        <BR>
        <a href ="{{ url_for('index')}}">Back to homepage</a>
	<br>
	{% for item in items %}
		  <div class = item>
	  ID: {{loop.index}} {{item['name']}} - ${{item['price']}}<br>
	  <form method = "POST" action = {{url_for('delete', id = item["_id"])}}>
	  <input type = "submit" value = "Delete Item"/>
	  </form>
	  <br>
	  </div>
      {% endfor %}	
    </body>
</html>
