<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Inventory Management System</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <H1>Welcome To The Inventory Management System</H1> <br>
	Insert the items here
	<h4>
        <a href ="{{url_for('addItem')}}">Add an Item</a> <br>
	<a href ="{{url_for('removeItem')}}">Remove an Item</a> <br>
        <a href ="{{url_for('listItems')}}">List all items</a> <br>
        <a href ="{{url_for('index')}}">Go Back</a> <br>
	</h4>
    </body>
</html>
